{% extends "base.html" %}

{% block content %}

    <!-- SECCION DE INFORMACION GENERAL -->
    <div class="fondo">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src={{url_for('static', filename='images/banner_img_01.jpg', external=True)}} alt="imagen index">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>{{info_evento[1].organizador}}</b></h1>
                                <h3 class="h2">{{info_evento[1].nombre}}, {{info_evento[1].localidad}} {{info_evento[1].año}}</h3>
                                <p>
                                    {{info_evento[1].organizador}} invita a todos los amantes del ciclismo a participar de su gran evento en la ciudad de {{info_evento[1].localidad}}. La cita es el {{info_evento[1].fecha}} a las {{info_evento[1].horario}}, con un recorrido pensado para disfrutar del deporte, la naturaleza y la camaradería. ¡Sumate y viví una jornada a puro pedal! 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DE SECCION DE INFORMACION GENERAL -->

        <!-- SECCION DE INFORMACION GENERAL 2-->
    <div class="fondo">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src={{url_for('static', filename='images/foto_general2.jpg', external=True)}} alt="evento">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>{{info_evento[1].tiulo_info_gen2}}</b></h1>
                                <h3 class="h2">{{info_evento[1].nombre}}, {{info_evento[1].localidad}} {{info_evento[1].año}}</h3>
                                <p>
                                    ¡Preparate para el gran evento de ciclismo {{info_evento[1].nombre}} en {{info_evento[1].localidad}}! Las inscripciones están abiertas y podés anotarte en la sección Inscripciones de esta página. Los costos de participación se publicarán en nuestras redes sociales, podés encontrarlas arriba de todo y al final de esta página, y sino haciendo clikc <a href= {{ url_for('registration', external=True)}}>aqui</a> . Para consultar el reglamento oficial, hacé clic en este <a href= {{url_for('static', filename='pdf/reglamento.pdf', external=True)}}>link</a> ¡No te lo pierdas! Vení a disfrutar de un día a pura adrenalina, deporte y comunidad.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DE SECCION DE INFORMACION GENERAL 2 -->


    <!-- SECCION DE LOS MAPAS -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">MAPAS DEL RECORRIDO</h1>
                <p>
                    El evento contará con dos modalidades: un recorrido corto de {{info_evento[1].recorrido_1}} ideal para quienes buscan un desafío moderado, y un recorrido largo de {{info_evento[1].recorrido_2}}, pensado para ciclistas con más experiencia.
                </p>
            </div>
        </div>
        <div class="row">
            <!-- HACER EL MAPA DE 3OKM -->
            <div class="col-12 col-md-4 p-5 mt-3">
                <h5 class="map-text mt-3 mb-3">CARRERA DE {{info_evento[1].recorrido_1}}</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50767.53043601769!2d-59.142702099999994!3d-37.31952284999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95911f9b2733946f%3A0xceef2c76899c202d!2sTandil%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1758060317009!5m2!1ses!2sar" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>
             <!-- HACER EL MAPA DE 8OKM -->
            <div class="col-12 col-md-4 p-5 mt-3">
                <h2 class="map-text  mt-3 mb-3">CARRERA DE {{info_evento[1].recorrido_2}}</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50767.53043601769!2d-59.142702099999994!3d-37.31952284999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95911f9b2733946f%3A0xceef2c76899c202d!2sTandil%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1758060317009!5m2!1ses!2sar" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>
        </div>
    </section>
    <!-- FIN DE SECCION DE LOS MAPAS -->


    <!-- SECCION DE SPONSORS -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Auspicia este evento</h1>
                    <p>
                        Agradecemos a nuestros sponsors por su apoyo y compromiso, que hacen posible este evento y nos ayudan a seguir impulsando el deporte en nuestra comunidad.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="./static/images/feature_prod_01.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$240.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Gym Weight</a>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                            </p>
                            <p class="text-muted">Reviews (24)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="./static/images/feature_prod_02.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$480.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Cloud Nike Shoes</a>
                            <p class="card-text">
                                Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae pharetra sed, commodo ullamcorper.
                            </p>
                            <p class="text-muted">Reviews (48)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="./static/images/feature_prod_03.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$360.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Summer Addides Shoes</a>
                            <p class="card-text">
                                Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar sagittis diam, et scelerisque ipsum lobortis nec.
                            </p>
                            <p class="text-muted">Reviews (74)</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- FIN SECCION DE SPONSORS -->
     
{% endblock %}


