{% extends "base.html" %}

{% block content %}

    <!-- SECCION DE INFORMACION GENERAL -->
    <div class="fondo">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src={{url_for('static', filename='images/banner_img_01.jpg', external=True)}} alt="imagen index">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>{{info_evento[1].organizador}}</b></h1>
                                <h3 class="h2">{{info_evento[1].nombre}}, {{info_evento[1].localidad}} {{info_evento[1].año}}</h3>
                                <p>
                                    {{info_evento[1].organizador}} invita a todos los amantes del ciclismo a participar de su gran evento en la ciudad de {{info_evento[1].localidad}}. La cita es el {{info_evento[1].fecha}} a las {{info_evento[1].horario}}, con un recorrido pensado para disfrutar del deporte, la naturaleza y la camaradería. ¡Sumate y viví una jornada a puro pedal! 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DE SECCION DE INFORMACION GENERAL -->

        <!-- SECCION DE INFORMACION GENERAL 2-->
    <div class="fondo">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src={{url_for('static', filename='images/foto_general2.jpg', external=True)}} alt="evento">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>{{info_evento[1].tiulo_info_gen2}}</b></h1>
                                <h3 class="h2">{{info_evento[1].nombre}}, {{info_evento[1].localidad}} {{info_evento[1].año}}</h3>
                                <p>
                                    ¡Preparate para el gran evento de ciclismo {{info_evento[1].nombre}} en {{info_evento[1].localidad}}! Las inscripciones están abiertas y podés anotarte en la sección Inscripciones de esta página. Los costos de participación se publicarán en nuestras redes sociales, podés encontrarlas arriba de todo y al final de esta página, y sino haciendo clikc <a href= {{ url_for('registration', external=True)}}>aqui</a> . Para consultar el reglamento oficial, hacé clic en este <a href= {{url_for('static', filename='pdf/reglamento.pdf', external=True)}}>link</a> ¡No te lo pierdas! Vení a disfrutar de un día a pura adrenalina, deporte y comunidad.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DE SECCION DE INFORMACION GENERAL 2 -->


    <!-- SECCION DE LOS MAPAS -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">MAPAS DEL RECORRIDO</h1>
                <p>
                    El evento contará con dos modalidades: un recorrido corto de {{info_evento[1].recorrido_1}} ideal para quienes buscan un desafío moderado, y un recorrido largo de {{info_evento[1].recorrido_2}}, pensado para ciclistas con más experiencia.
                </p>
            </div>
        </div>
        <div class="row">
            <!-- MAPA DE 3OKM -->
            <div class="col-12 col-md-4 p-5 mt-3">
                <h5 class="map-text mt-3 mb-3">CARRERA DE {{info_evento[1].recorrido_1}}</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m52!1m12!1m3!1d50765.4057594733!2d-59.14019023648491!3d-37.32266819451745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m37!3e1!4m3!3m2!1d-37.2938313!2d-59.178875899999994!4m3!3m2!1d-37.2954784!2d-59.153434499999996!4m3!3m2!1d-37.296345099999996!2d-59.1384694!4m3!3m2!1d-37.320616199999996!2d-59.1608471!4m3!3m2!1d-37.316613!2d-59.122613099999995!4m3!3m2!1d-37.331569099999996!2d-59.150709799999994!4m3!3m2!1d-37.3216043!2d-59.103502899999995!4m3!3m2!1d-37.3526333!2d-59.131552!4m3!3m2!1d-37.3409341!2d-59.118570899999995!5e0!3m2!1ses!2sar!4v1758433505866!5m2!1ses!2sar" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
             <!-- MAPA DE 8OKM -->
            <div class="col-12 col-md-4 p-5 mt-3">
                <h2 class="map-text  mt-3 mb-3">CARRERA DE {{info_evento[1].recorrido_2}}</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m56!1m12!1m3!1d25387.028146659424!2d-59.18274001253087!3d-37.30986063608922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m41!3e1!4m3!3m2!1d-37.2896918!2d-59.2024853!4m3!3m2!1d-37.275743!2d-59.119868399999994!4m3!3m2!1d-37.2775525!2d-59.0981659!4m3!3m2!1d-37.337016!2d-59.065704499999995!4m3!3m2!1d-37.3589511!2d-59.184758599999995!4m3!3m2!1d-37.3164219!2d-59.2039319!4m3!3m2!1d-37.3084821!2d-59.1600744!4m3!3m2!1d-37.2992753!2d-59.097648799999995!4m3!3m2!1d-37.347208099999996!2d-59.1908299!4m3!3m2!1d-37.2894272!2d-59.1917714!5e0!3m2!1ses!2sar!4v1758433850402!5m2!1ses!2sar" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
    <!-- FIN DE SECCION DE LOS MAPAS -->


    <!-- SECCION DE SPONSORS -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Auspicia este evento</h1>
                    <p>
                        Agradecemos a nuestros sponsors por su apoyo y compromiso, que hacen posible este evento y nos ayudan a seguir impulsando el deporte en nuestra comunidad.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                            <img class="card-img-top" src={{url_for('static', filename='images/sponsor-adidas.png', external=True)}} alt="...">
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                            </ul>
                            <p class="h2 text-decoration-none text-dark">{{info_evento[1][2].ausp1}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src={{url_for('static', filename='images/sponsor-assos.png', external=True)}} alt="...">
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                            </ul>
                            <p class="h2 text-decoration-none text-dark">{{info_evento[1][2].ausp2}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src={{url_for('static', filename='images/sponsor-gatorade.png', external=True)}} alt="...">
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                            </ul>
                            <p class="h2 text-decoration-none text-dark">{{info_evento[1][2].ausp3}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- FIN SECCION DE SPONSORS -->
     
    <!-- SECCION DE SPONSORS -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">

            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                            <img class="card-img-top" src={{url_for('static', filename='images/sponsor-giro.png', external=True)}} alt="...">
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                            </ul>
                            <p class="h2 text-decoration-none text-dark">{{info_evento[1][2].ausp4}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src={{url_for('static', filename='images/sponsor-topper.png', external=True)}} alt="...">
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                            </ul>
                            <p class="h2 text-decoration-none text-dark">{{info_evento[1][2].ausp5}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src={{url_for('static', filename='images/monster_logo.png', external=True)}} alt="...">
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                            </ul>
                            <p class="h2 text-decoration-none text-dark">{{info_evento[1][2].ausp6}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- FIN SECCION DE SPONSORS -->
     
{% endblock %}


