{% extends "base.html" %}

{% block content %}

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Inscribase!</h1>
            <p>
                Se le enviarán sus datos y la carrera elegida a su email como comprobante.
            </p>
        </div>
    </div>


    <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-9 m-auto" method="post" action="{{ url_for('registration', external=True) }}" role="form">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputname">Nombre</label>
                        <input type="text" class="form-control mt-1" id="nombre" name="nombre" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputname">Apellido</label>
                        <input type="text" class="form-control mt-1" id="apellido" name="apellido" placeholder="Apellido">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputemail">Email</label>
                        <input type="email" class="form-control mt-1" id="email_usr" name="email_usr" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputemail">DNI</label>
                        <input type="text" class="form-control mt-1" id="dni" name="dni" placeholder="DNI">
                    </div>
                </div>
                <div class="col-md-6 m-auto text-center">
                    <h2>Carrera elegida:</h2>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <input type="radio" id="carrera_seleccion" name="carrera_seleccion" value="Carrera de 30 Km">
                    <label for="html">Carrera de 30 Km</label><br>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <input type="radio" id="carrera_seleccion" name="carrera_seleccion" value="Carrera de 80 Km">
                    <label for="html">Carrera de 80 Km</label><br>
                </div>
                <div class="mb-3">
                    <label for="inputmessage">Aclaraciones extra</label>
                    <textarea class="form-control mt-1" id="aclaraciones" name="aclaraciones" placeholder="Aclaraciones extra" rows="8"></textarea>
                </div>
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Contact -->
     
{% endblock %}